body{
    background-color: #D9EEE1;
}

.main {
    width: 80%;
    margin: auto;
}

#title{
    font-size: 70px;
    font-family: "lobster";
    text-align: center;
}

span{
    color: red;
}

#image1{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid red;
    border-radius: 20px;
}

#paragraph{
    text-align: center;
    font-size: 24px;
    border: 3px solid gray;
    border-radius: 30px;
    
}

h2{
    font-family: "Lobster";
    font-size: 40px;
    text-align: center;
}

table{
    background-color: #ff6346;
    font-size: larger;
    border-radius: 10px;
}

td{
    border: 1px solid   gray;
    border-radius: 10 px;
}

tr:hover{
    background-color: bisque;
}

ol, ul{
    font-size: x-large;
   
}

a:hover{
    background-color: lime;
    font-size: 35px;
}

a {
    text-decoration: none;
}

#footer {
    text-align: center;
    font-size: 25px;
}

#footer-link{
    color: red;
    text-decoration: none;
}

